.App {
  text-align: center;
  background-color: #282c34;
}

.App-nav a {
  border: 2px solid #7a92c2;
  padding: 0px 20px 5px 20px;
  color: green;
  text-decoration: none;
}

.App-nav a:visited {
  color: green;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map, #street-viewer {
  width: 90vw;
  height: 40vh;
}

tr th {
  border: 1px solid #ddd;
  padding: 8px;
  color: blue;
}

tr {
  background-color: #f2f2f2;
}

tr td {
  border: 1px solid #ddd;
  padding: 5px;
  color: red;
}

tr:hover {background-color: yellow;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}